<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests" thread-count="3">
    <listeners>
        <!--<listener class-name="listeners.ExtentTestNGIReporterListener"/>-->
        <listener class-name="listeners.ExtentTestNGIReporter"/>
        <listener class-name="listeners.ExtentReportNg"/>

    </listeners>

 <!--   <test name="ChromeTest">
        <classes>
            <class name="tests.EfromPrivilegeRequestTest"></class>
        </classes>
    </test>

    <test name="ChromeTest1">
        <classes>
            <class name="tests.EfromAdditionSoftwareRequestTest"></class>
        </classes>
    </test>-->

    <test name="EdgeTest">
        <classes>
            <class name="tests.PimHrmTestcases"></class>
        </classes>
    </test>

</suite>