<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="tests">
    <listeners>
        <listener class-name="listeners.ExtentReportNg"/>
    </listeners>

    <test name="ChromeTest">
        <classes>
            <class name="tests.EfromPrivilegeTest"></class>
        </classes>
    </test>

    <test name="EdgeTest">
        <classes>
            <class name="tests.EfromViewStatusDbTest"></class>
        </classes>
    </test>

</suite>